<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/home.css"0>
    
</head>

<body>
    
    <aside>
        <header>
            <nav>
                <button  id="evo1" type="button" href="">evo 1</button>
                <button  id="evo2" type="button" href="">evo 2</button>
                <button  id="cerrarSesion" type="button" href="">Exit</button>
            </nav>
        </header>
    </aside>
        
    <main>
        <div>
            <nav>
                <form action="">
                    <input placeholder="Nombre Receta" id="nombre"  type="text">
                    <input placeholder="dificultad Receta" id="dificultad" type="text">
                    <input placeholder="Tipo Receta" id="tipoRecerta" type="text">
                    <button type="button" id="buttonFiltrar">Fitrar</button>
            </form>
            </nav>
            <h1>Evolution</h1><h1></h1>
            <section id="contenido" class="cards">

            </section>
        </div>    
        </main>
    
    <script type="module" src="../public/Js/script.js"></script>
    <!-- adicionar scrip de contollerEvo.js -->
    
</body>
</html>