<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/home.css"0>
    
</head>

<body>
    
    <aside>
        <header>
            <nav>
                <a href="">evo 1</a>
                <a href="">evo 2</a>
                <a href="">evo 3</a>
            </nav>
        </header>
        <main>
            <h1>Evolution</h1>
            <section></section>    
        </main>
    </aside>
    
</body>
</html>